<div class="container mt-2">
  <div class="row">
    <h2>Update Employee</h2>
    <form  (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationServer01" class="mb-2">First name</label>
          <input type="text" name="firstName" [(ngModel)]="employee.firstName" class="form-control" placeholder="First name" />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer02" class="mb-2">Last name</label>
          <input type="text" class="form-control" [(ngModel)]="employee.lastName" name="lastName" placeholder="Last name" />
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServerUsername" class="mb-2">Email Id</label>
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="employee.emailId" name="emailId" placeholder="email Id" />
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationServer03" class="mb-2">Address</label>
          <div class="input-group">
            <textarea type="text" name="address" [(ngModel)]="employee.address" class="form-control" placeholder="Address">
            </textarea>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-success" type="submit">Update</button>
        &nbsp;
        <button class="btn btn-primary" type="reset">clear</button>
      </div>
    </form>
  </div>
</div>
